body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #999;
}

.social-login-link {
  font-size: 32px;
  transition: all 0.5s ease;
}

.social-login-link.google:hover, .social-login-link.google:hover {
  color: #D62D20;
}

.social-login-link.facebook:hover, .social-login-link.facebook.active {
  color: #3b5998;
}

.social-login-link.github:hover, .social-login-link.github.active {
  color: #333;
}